    html {
      scroll-behavior: smooth;
    }

    body {
      background: #A4DDCF;
      font-family: 'Pompiere';      
    }

    .sidebar {
      margin: 0;
      padding: 0;
      width: 325px;
      position: fixed;
      overflow: auto;
      background: #FF7D75;
      border: 4px solid #D3635C;
      box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.35);
    }

    .descBox {
      margin: auto;
      padding: 5px;
      width: 100%;
      height: 28%;     
      background: #FFFFFF;
      border: 5px solid #FFC1BD;
      box-sizing: border-box;

    }

    .descBox a {
      display: block;
      color: black;
      padding: 5px;
      text-decoration: none;
    }
     
    .descBox a.active {
      background-color: #FFC1BD;
      color: white;
    }

    .descBox a:hover:not(.active) {
      background-color: #555;
      color: white;
    }

    .descBox .icon {
      display: none;
    }

    .profile {
      background: #ffffff;
      padding-left: 400px;
      padding-right: 50px;
      width: 103%;

    }

    .container-fluid {
      padding-right: 8%;
      padding-top: 5%;
      padding-bottom: 5%;
      padding-left: 0%;
    }

    .bannerLine {
      margin-top: 8%;
      margin-bottom: 13%;
      width: 100%;
      height: 20px;
      background: #FFC1BD;  
    }

    .row, .col {
      border: 0px;
    }

    .pic {
      margin: auto;
      margin-bottom: 13%;  
      width: 225px;
      height: 225px;
      border: 15px solid #FFC1BD;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

    .pic img {
      width: 100%;
      height: auto;
      margin-top: -30%;
    }

    .nameBox {  
      margin: auto;
      margin-bottom: 6%;
      width: 100%;
      height: 8%;
      background: #FFFFFF;
      border: 5px solid #FFC1BD;
      box-sizing: border-box;
    }

    .name {
      margin: auto;
      width: 100%;
      font-size: 40px;
      line-height: 48px;
      text-align: center;
      color: #000000;
    }

    .desc {
      margin: auto;
      width: 100%;
      font-size: 35px;
      line-height: 42px;
      text-align: center;
      color: #000000;
    }

    .title {
      margin-top: 3%;
      margin-bottom: 5%;
      font-family: Pompiere;
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 96px;
      text-decoration-line: underline;
      color: #FDFF8C;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .bio {
      text-indent: 15%;
      font-family: Pompiere;
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 54px;
      text-align: justify;
      color: #000000;
    }

    * {
      box-sizing: border-box;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
      content: '';
      position: absolute;
      width: 6px;
      background-color: grey;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }

    /* Container around content */
    .container {
      padding: 10px 40px;
      position: relative;
      background-color: inherit;
      width: 50%;
      margin: 0;
    }

    /* The circles on the timeline */
    .container::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      right: -13px;
      background-color: #FF3E6C;
      border: 4px solid #FF8399;
      top: 15px;
      border-radius: 50%;
      z-index: 1;
    }

    /* Place the container to the left */
    .left {
      left: 0;
    }

    /* Place the container to the right */
    .right {
      left: 50%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      right: 30px;
      border: medium solid #FF8399;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent #FF8399;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: 30px;
      border: medium solid #FF8399;
      border-width: 10px 10px 10px 0;
      border-color: transparent #FF8399 transparent transparent;
    }

    /* Fix the circle for containers on the right side */
    .right::after {
      left: -13px;
    }

    /* The actual content */
    .content {
      color: #ffffff;

      padding: 20px 30px;
      background-color: #FF3E6C;
      border: 5px solid #FF8399;
      position: relative;
      border-radius: 6px;
    }

    /* Media queries - Responsive timeline on screens less than 600px wide */
    @media screen and (max-width: 600px) {
      /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
      
      /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
      
      /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid #FF8399;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FF8399 transparent transparent;
      }

      /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }
      
      /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }
    }

    .photoframe {
      padding: 2%;
      border: 1px solid #38383D;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
    }

    .photo {
      margin-right: 4%;
      width: 45%;
      border-radius: 25px;
      border: 1px solid rgba(0, 0, 0, 0.5)
    }

    .kucing {
      border-radius: 25px;
      border: 1px solid rgba(0, 0, 0, 0.5)
    }

    .card {
      margin: 8%;
    }


    @media screen and (max-width: 1000px) {
      .col, .row {
        flex-direction: column;
      }

      .sidebar, .descBox, .desc {
        width: 100%;
        position: sticky; 
        top: 0;
        overflow: hidden;
        z-index: 2;
      }

      .descBox {
        border: solid #FF7D75;
        background: #FF7D75;
      }

      .descBox a {
        padding: 10px;
      }

      .profile {
        padding-left: 50px;
      }
      
      .bannerLine, .pic, .nameBox {display: none}
      .descBox, .desc a {float: left;}
       div.content {margin-left: 0;}
    }

    @media screen and (max-width: 650px) {
      .descBox a:not(:first-child) {display: none;}
      .descBox a.icon {
        float: right;
        display: block;
      }
    }

    @media screen and (max-width: 650px) {
      .descBox.responsive {position: relative;}
      .descBox.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      .descBox.responsive a {
        float: none;
        display: block;
        text-align: left;
      }

      .descBox {
        position: sticky; 
        top: 0;
        overflow: hidden;
        z-index: 2;
      }
    }