{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	<title>Album</title>
</head>


<body>
	<div class="container-fluid">

      <div class="row" style="background: #FFFFFF">
      	<div class="col" style="margin-left: 2%; margin-bottom: 8%; background: #FFFFFF">
      		<a href="/" class="btn btn-outline-info" role="button" style="font-size: 30px">
            	<strong> <--- Back</strong>
            </a>
      		<div class="title" align="center">MY PHOTO ALBUM</div>
      	</div>
      </div>

	  <div class="row" style="padding-left: 1%; background: #FFFFFF">
	  	<div class="col" style="padding: 0; background: #FFFFFF">
	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/ar0XUzi.jpg" style="height: 100%; width: 100%">
	  		</div>

	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/4NWeOsP.jpg" style="height: 100%; width: 100%">
	  		</div>

	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/w1Eessg.jpg" style="height: 100%; width: 100%">
	  		</div>
	  	</div>

	  	<div class="col" style="padding: 0; background: #FFFFFF">
	  		<div class="col" style="padding: 2%; height: 53.7%">
	  			<img class="kucing" src="https://i.imgur.com/xJGDEnY.jpg" style="height: 100%; width: 100%">
	  		</div>

	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/cR3JHn3.jpg" style="height: 100%; width: 100%">
	  		</div>
	  	</div>

	  	<div class="col" style="padding: 0; background: #FFFFFF">
	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/1K52s7R.jpg" style="height: 100%; width: 100%">
	  		</div>

	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/RvlzW0X.jpg" style="height: 100%; width: 100%">
	  		</div>

	  		<div class="col" style="padding: 2%">
	  			<img class="kucing" src="https://i.imgur.com/XJATDI0.jpg" style="height: 100%; width: 100%">
	  		</div>
	  	</div>
	  </div>
  	</div>
</body>
</html>
