{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>Vina</title>
    </head>


    <body>
        <div class="sidebar">
            <div class="bannerLine"></div>
            <div class="pic">
                <img src="{% static 'img/icon/me.jpg' %}">
            </div>
            <div class="nameBox">
                <div class="name">Levina Herisha Rahma</div>
            </div>
            <div class="descBox" id="navbar">
                <div class="desc">
                    <a class="active" href="/">Home</a>
                    <a href="schedule/">Schedule</a>
                    <a href="#about">About</a>
                    <a href="#education">Education</a>
                    <a href="#gallery">Gallery</a>
                    <a href="#contact">Contact</a>
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>   
        </div>


        <div class="container-fluid">
                <div class="profile">
                <div class="row">
                <div class="col">
                    <div class="title" id="/">HELLO THERE</div>
                    <div class="row" style="margin-bottom: 13%">
                        <div class="col">
                            <div class="bio">
                                My name is Vina, I'm 19 years old and currently studying in Information Systems, University of Indonesia. You can read more about me below.
                            </div> 
                        </div>

                        <div class="col-auto" align="center">
                            <img style="width: 200px" src="https://i.imgur.com/yfm0MZf.png">
                        </div>
                    </div>


                    <div class="title" id="about">ABOUT ME</div>
                    <div class="row" style="margin-bottom: 10%">
                        <div class="col-auto" align="center">
                            <img style="width: 200px" src="https://i.imgur.com/wxFS5z9.png?1">
                        </div>

                        <div class="col">
                            <div class="bio">
                                I’m a quiet person and when i talk i choose my words carefully so that no party gets offended. I’m also a careful person, i think before i act. Lastly, i’m very patient and i can control my emotions well.
                            </div> 
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 13%">
                        <div class="col" align="center" style="margin-bottom: 5%">
                            <img style="width: 150px; margin: 10px" src="https://i.imgur.com/lenLAGu.png">
                            <img style="width: 150px; margin: 10px" src="https://i.imgur.com/sYBWGQ1.png">
                            <img style="width: 150px; margin: 10px" src="https://i.imgur.com/ehT5kO9.png">
                            <img style="width: 150px; margin: 10px" src="https://i.imgur.com/PduDn9t.png">
                        </div>
                        
                        <div class="bio">
                            I can use Photoshop and Illustrator. I’ve designed posters and banners for a beverage shop. I also understand Python and JAVA. Moreover, i’m pretty confident in my English skill.
                        </div>
                    </div>


                    <div class="title" id="education">EDUCATION</div>
                    <div class="timeline" style="margin-bottom: 13%">
                        <div class="container left">
                            <div class="content" style="text-align: right">
                                <h1><strong>2006 - 2012</strong></h1>
                                <p style="font-size: 30px">03 Cipayung Elementary School</p>
                            </div>
                        </div>

                        <div class="container right">
                            <div class="content">
                                <h1><strong>2012 - 2015</strong></h1>
                                <p style="font-size: 30px">222 Jakarta Junior High School</p>
                            </div>
                        </div>

                        <div class="container left">
                            <div class="content" style="text-align: right">
                                <h1><strong>2015 - 2018</strong></h1>
                                <p style="font-size: 30px">105 Jakarta Senior High School</p>
                            </div>
                        </div>

                        <div class="container right">
                            <div class="content">
                                <h1><strong>2018 - Present</strong></h1>
                                <p style="font-size: 30px">University of Indonesia</p>
                            </div>
                        </div>
                    </div>


                    <div class="title" id="gallery">GALLERY</div>
                    <div class="row">
                        <div class="bio" style="width: 100%">
                          Just some pictures i took here and there. Enjoy~
                        </div>

                        <div class="photoframe" style="margin-top: 3%">
                            <img class="photo" src="https://i.imgur.com/xiFxGdI.jpg">
                            <img class="photo" src="https://i.imgur.com/9ccbiJG.jpg" style="width: 80%">
                            <img class="photo" src="https://i.imgur.com/I827P5h.jpg">
                            <img class="photo" src="https://i.imgur.com/nmnQ2NO.jpg" style="width: 80%">
                            <img class="photo" src="https://i.imgur.com/uvfnXso.jpg">
                          
                            <a href="/gallery/" class="btn btn-outline-info" role="button" style="font-size: 30px">
                                <strong>More</strong>
                            </a>
                        </div>
                    </div>


                    <div class="card" id="contact">
                        <div class="card-body">
                            <div class="bio" style="font-size: 60px; text-align: center; text-decoration-line: underline; text-indent: 0">
                                Contact Me

                                <div class="row justify-content-center" style="margin-top: 3%">
                                    <div class="col" style="padding: 3%">
                                        <a href="https://www.instagram.com/levina_hr/" target="_blank">
                                            <img style="width: 80px; margin: 15px" src="{% static 'img/icon/instagram.png' %}">
                                        </a>
                                        <a href="https://twitter.com/levinaHR" target="_blank">
                                            <img style="width: 80px; margin: 15px" src="{% static 'img/icon/twitter.png' %}">
                                        </a>
                                        <a href="https://www.facebook.com/levina.herisharahma" target="_blank">
                                            <img style="width: 80px; margin: 15px" src="{% static 'img/icon/fb.png' %}">
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                </div>
            </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */ -->
        <script>
            function myFunction() {
              var x = document.getElementById("navbar");
              if (x.className === "descBox") {
                x.className += " responsive";
              } else {
                x.className = "descBox";
              }
            }
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>